<div class="container mx-auto">
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <div class="text-white">
      <nz-card nzTitle="Health Insurance" class="rounded bg-primaryBlue-200 text-[#fff]">
        <div class="flex justify-between">
          <div class="text-white p-2">
            <h1 class="font-bold text-xl text-white">400</h1>
            <span>Customers</span>
          </div>
          <div>
            <nz-avatar nzIcon="usergroup-add"></nz-avatar>
          </div>
        </div>
      </nz-card>
    </div>
    <div>
      <nz-card nzTitle="Auto Insurance" class="rounded bg-[#ff6e00]">
        <div class="flex justify-between">
          <div class="text-white p-2">
            <h1 class="font-bold text-xl text-white">490</h1>
            <span>Customers</span>
          </div>
          <div>
            <nz-avatar nzIcon="usergroup-add"></nz-avatar>
          </div>
        </div>
      </nz-card>
    </div>
    <div>
      <nz-card nzTitle="Travel Insurance" class="rounded bg-[#d0312d]">
        <div class="flex justify-between">
          <div class="text-white p-2">
            <h1 class="font-bold text-xl text-white">450</h1>
            <span>Customers</span>
          </div>
          <div>
            <nz-avatar nzIcon="usergroup-add"></nz-avatar>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>

